.about-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #def6ff;
}

.about-head .image {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-head .image img {
    width: 100%;
    animation: floating 3s ease-in-out infinite;
    margin-right: 20px;
    border-radius: 10px;
}

.about-head .text {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-head .text h1 {
    margin: 0 0 20px 0;
    font-size: 2.5em;
    color: #333;
}

.about-head .text p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
}

.section {
    padding: 40px 20px;
    background-color: #efefef;
    text-align: center;
}
.section h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}
.image img {
    width: 50%;
    height: 60%;
    object-fit: cover;
}

.aboutUs-section {
    padding-block: 40px;
    padding-left: 20%;
}

.aboutUs-form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.aboutUs-form-section span {
    width: 100%;
}

.aboutUs-form-section span input {
    width: 94.5%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 70px;
    margin-block: 30px;
    margin-inline: auto;
    background-color: var(--primary-accentbg-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
}

.contact-form h2 {
    font-size: 2.5rem;
    color: var(--primary-accent-color);
    font-weight: 600;
    margin-block: 15px;
    text-decoration: underline var(--secondary-accent-color);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 70%;
    margin-bottom: 40px;
}

.contact-form form label {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    width: 100%;
    word-wrap: break-word;
}

.contact-form form input,
.contact-form form textarea {
    width: 98%;
    margin-inline: auto;
    border: none;
    padding: 6px;
    margin-bottom: 15px;
    display: block;
    margin-top: 3px;
    outline: none;
    font-size: 1.1em;
    font-family: inherit;
    resize: none;
    background-color: var(--primary-background-color);
    border-radius: 5px;
}

.contact-form form button {
    width: 100%;
    padding: 8px;
    margin-top: 15px;
    border: 0;
    background-color: var(--primary-accent-color);
    color: white;
    cursor: pointer;
    font-size: 1.0rem;
    border-radius: 5px;
    font-family: inherit;
}

.contact-form form button:hover {
    background-color: var(--secondary-accent-color);
    color: var(--primary-accent-color);
    font-weight: 500;
    transition-duration: 200ms;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.contact-form p {
    margin-bottom: 20px;
}


.subscribe-button {
    font-family: 'Raleway', sans-serif;;
    display: block;
    font-size: 1rem;
    width: 300px;
    height: 50px;
    background-color: rgb(179, 21, 21);
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 0px auto;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.subscribe-button:hover {
    background-color: rgb(226, 60, 60);
}

.subscribe a{
    text-decoration: none;
}


@media (max-width: 768px) {
    .about-head{
        flex-direction: column;
    }
    
    .image img {
        width: 100%;
    }

    .about-head .text h1 {
        font-size: 1.8em;
    }

    .about-head .text p {
        font-size: 1.3em;
        width: 100%;
    }

    .section h2 {
        font-size: 1.5em;
    }

    .section p {
        font-size: 1.3em;
    }

    .contact-form h2{
        text-align: center;
    }

    .contact-form {
        padding: 20px;
        width: 80%;
    }
    .subscribe-button {
        height:60px;
        padding: 7px;
    }
}


