.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1px;
  margin: 20px;
}

.cartHead {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #075674;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cart-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(220, 232, 232, 0.8);
  border-radius: 10px;
}

.cart-image-container {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.cart-detail-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

.cart-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 0;
  width: 100%;
}

.cart-info h2 {
  margin: 5px 0;
  font-size: 25px;
  font-weight: 800;
}

.cart-info p {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 500;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.btncheckout, .btnEmptyCart, .removecheckout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.btncheckout {
  background: linear-gradient(0deg, #075674 0%, #075674 100%);
  width: 250px;
}

.btncheckout:hover {
  background-color: var(--secondary-accent-color);
}

.btnEmptyCart {
  background-color: #075674;
  width: 200px;
}

.btnEmptyCart:hover {
  background-color: var(--secondary-accent-color);
}

.removecheckout {
  background: linear-gradient(0deg, #841212 0%, #ba0a0a 100%);
  box-shadow: 0 0.4em 1.2em -0.5em #841212;
  width: 250px;
  margin-top: 20px;
}

.removecheckout:hover {
  background-color: var(--secondary-accent-color);
}

/* Media query for mobile screen */
@media (max-width: 768px) {
  .cart-gallery {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .btncheckout, .btnEmptyCart {
    width: 100%;
  }
}
