/* navbar style */

nav {
    background-color: var(--primary-accent-color);
    width: 100%;
    height: 5.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav>div {
    margin-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 50px;
}

.login-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:13px;
    font-size: 1.2rem;

}

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-rg {
    margin-right: 3.8%;
}

.logo {
    width: 60px;
    border: 1.4px solid var(--secondary-accent-color);
    border-radius: 10px;
    padding: 3px;
    margin-right:7px;
}

.logo-text{
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline var(--secondary-accent-color);
    font-size: 2rem;
}

.logo-text span{
    color: var(--secondary-accent-color);
}


.menu-options-list, .menu-list {
    display: flex;
    list-style: none;
    gap:8px
}

.menu-options-list-item a {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    cursor: pointer;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-decoration: none;
    color: white;
}

.menu-open-option {
    display: none;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    gap: 0.9rem;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-accent-color);
}

.menu-list-item a{
    cursor: pointer;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1.4rem;
    line-height: 2.3rem;
    text-decoration: none;
    color: white;
}

.menu-options-list-item a:hover, .menu-list-item a:hover {
    font-weight: 500;
    transform: scale(1.05);
    transition-duration: 200ms;
    color: var(--secondary-accent-color);
}

.login-subscribe a button{
    width: 6.0rem;
    height:2.5rem;
    border: 1px solid var(--secondary-accent-color);
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.0rem;

}

.login-subscribe Label a {
    color: white;
    text-decoration: none;
}

.login-subscribe a button:hover {
    background-color: var(--secondary-accent-color);
    color: var(--primary-accent-color);
    font-weight: 500;
    transition-duration: 200ms;
    border: 1px solid var(--secondary-accent-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-subscribe Label a:hover{
    text-decoration: underline var(--secondary-accent-color) ;
}

.menu-option{
    width: 45px;
}

/* navbar style */
@media (max-width: 768px) {

    /* navbar style */
    nav {
        height: 5rem;
    }

    nav>div {
        padding-inline: 30px;
    }

    .logo {
        width: 50px;
    }
    .logo-text{
        font-size: 1.5rem;
    }

    .menu-options-list {
        display: none;
    }

    .menu-open-option {
        display:inline-block;
        cursor: pointer;
        z-index: 10;
    }

    .login-subscribe{
        display: none;
    }
    /* navbar style */
    
}