
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --primary-accent-color: #075674;
    --primary-accentbg-color: #94e1ff;
    --secondary-accent-color: #fec800;
    --primary-background-color: #f6f6f2;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-background-color);
}

@import url("./components/styles/navbarStyle.css");
@import url("./components/styles/footerStyle.css");
@import url("./components/styles/loginSignupStyle.css");


@import url('./components/styles/Catalogue.css');
@import url('./components/styles/Services.css');

@import url('./components/styles/homeStyle.css');
@import url('./components/styles/AboutUsStyle.css');
@import url('./components/styles/Catalogue.css');
@import url('./components/styles/CatalogueItem.css');
@import url('./components/styles/BookDetail.css');

