@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('./components/styles/Catalogue.css');
@import url('./components/styles/Services.css');
@import url('./components/styles/Allbooks.css');


*{
    margin: 0;
    padding: 0;
}

:root {
    --primary-accent-color: #075674;
    --primary-accentbg-color: #94e1ff;
    --secondary-accent-color: #fec800;
    --primary-background-color: #f6f6f2;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-background-color);
}

/* navbar style */

nav {
    background-color: var(--primary-accent-color);
    width: 100%;
    height: 5.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav>div {
    margin-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 50px;
}

.login-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:13px;
    font-size: 1.2rem;

}

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-rg {
    margin-right: 3.8%;
}

.logo {
    width: 60px;
    border: 1.4px solid var(--secondary-accent-color);
    border-radius: 10px;
    padding: 3px;
    margin-right:7px;
}

.logo-text{
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline var(--secondary-accent-color);
    font-size: 2rem;
}

.logo-text span{
    color: var(--secondary-accent-color);
}


.menu-options-list, .menu-list {
    display: flex;
    list-style: none;
    gap:8px
}

.menu-options-list-item a {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    cursor: pointer;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-decoration: none;
    color: white;
}

.menu-open-option {
    display: none;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    gap: 0.9rem;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-accent-color);
}

.menu-list-item a{
    cursor: pointer;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1.4rem;
    line-height: 2.3rem;
    text-decoration: none;
    color: white;
}

.menu-options-list-item a:hover, .menu-list-item a:hover {
    font-weight: 500;
    transform: scale(1.05);
    transition-duration: 200ms;
    color: var(--secondary-accent-color);
}

.login-subscribe a button{
    width: 6.0rem;
    height:2.5rem;
    border: 1px solid var(--secondary-accent-color);
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.0rem;

}

.login-subscribe Label a {
    color: white;
    text-decoration: none;
}

.login-subscribe a button:hover {
    background-color: var(--secondary-accent-color);
    color: var(--primary-accent-color);
    font-weight: 500;
    transition-duration: 200ms;
    border: 1px solid var(--secondary-accent-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-subscribe Label a:hover{
    text-decoration: underline var(--secondary-accent-color) ;
}

.menu-option{
    width: 45px;
}

/* navbar style */

/* Footer style */

footer{
    padding-inline: 60px;
    padding-block: 30px;
    display: flex;
    width: 100wv;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
    background-color: var(--primary-accent-color);
}

#sub-foot1, #sub-foot2, #sub-foot3, #sub-foot4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#foot-logo img {
    width: 110px;
}

#logo-line {
    margin-top: 20px;
    line-height: 1.5rem;
}

#logo-line label {
    font-weight: 600;
}

#social-network-links{
    margin-top: 20px;
    line-height: 1.5rem;
}
#social-network-links p {
    margin-bottom: 10px;
}


#social-network-links div{
    display: flex;
    gap: 15px;
}

#social-network-links div img {
    width: 40px;
}

#social-network-links div img:hover{
    background-color: var(--secondary-accent-color);
    cursor: pointer;
    border-radius: 100%;
    transition-duration: 400ms;
}

#sub-foot2 h3, #sub-foot3 h3 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 20px;
}

#sub-foot2 ul {
    list-style: none;
}

#sub-foot2 ul li {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
}

#sub-foot2 ul li a {
    text-decoration: none;
    color: white;
}

#sub-foot2 ul li a:hover {
    font-weight: 500;
    transform: scale(1.05);
    transition-duration: 200ms;
    color: var(--secondary-accent-color);
}

#sub-foot3{
    width: 23%;
}

#sub-foot4 h3{
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#sub-foot4 p, #sub-foot3 p {
    padding-bottom: 25px;
    line-height: 1.7rem;
    font-weight: 300;
}

#sub-foot4 p label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

#sub-foot4 p img{
    width: 20px;
}


#copyright{
    padding-top: 25px;
    width: 100%;
    text-align: center;
}


/* Footer style */

/* Login/Signup style */

.login-container, .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 60px;
    padding-block: 30px;
    gap: 20px;
    flex-wrap: wrap;
}

.login-section1, .signup-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding-block: 70px;
    background-color: var(--primary-accentbg-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
}

.login-section1 h2, .signup-section2 h2{
    font-size: 2.5rem;
    color: var(--primary-accent-color);
    font-weight: 600;
    margin-block: 15px;
    text-decoration: underline var(--secondary-accent-color);
}

.login-section1 form, .signup-section2 form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 70%;
}

.login-section1 form label, .signup-section2 form label {
    font-size: 1.0em;
    display: block;
    width: 90%;
    word-wrap: break-word;
}

.login-section1 form input, .signup-section2 form input,
.signup-section2 form textarea  {
    width: 98%;
    margin-inline: auto;
    border: none; 
    padding: 6px;
    margin-bottom: 15px;
    display: block;
    margin-top: 3px;
    outline: none;
    font-size: 1.1em;
    font-family: inherit;
    resize: none;
    background-color: var(--primary-background-color);
    border-radius: 5px;
}

.login-section1 form button, .signup-section2 form button {
    width: 101%;
    padding: 8px;
    margin-top: 15px;
    border: 0;
    background-color: var(--primary-accent-color);
    color: white;
    cursor: pointer;
    font-size: 1.0rem;
    border-radius: 5px;
    font-family: inherit;
}

.login-section1 form button:hover, .signup-section2 form button:hover {
    background-color:var(--secondary-accent-color);
    color: var(--primary-accent-color);
    font-weight: 500;
    transition-duration: 200ms;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.login-section1 p, .signup-section2 p {
    margin-bottom: 20px;
}

.login-section2, .signup-section1{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-section2 img, .signup-section1 img {
    width: 90%;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.signup-section2 {
    padding-block: 30px;
}

.signup-form-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-form-section1 span{
    width: 46.5%;
}

.signup-form-section1 span input{
    width: 94.5%;
}


/* Login style */

@media (max-width: 768px) {

    /* navbar style */
    nav {
        height: 5rem;
    }

    nav>div {
        padding-inline: 30px;
    }

    .logo {
        width: 50px;
    }
    .logo-text{
        font-size: 1.5rem;
    }

    .menu-options-list {
        display: none;
    }

    .menu-open-option {
        display:inline-block;
        cursor: pointer;
        z-index: 10;
    }

    .login-subscribe{
        display: none;
    }
    /* navbar style */

    /* footer style */

    footer{
        flex-direction: column;
        gap: 55px;
        align-items: center;
    }

    #sub-foot3{
        width: 82%;
    }

    #copyright{
        padding-top: 0px;
    }

    /* footer style */

     /* Login style */

    .login-container {
        flex-direction: column-reverse;
        padding-inline: 35px;
        padding-block: 50px;
    }

    .login-section1{
        width: 100%;
        padding-block: 50px;
    }
    
    .login-section1 form{
        font-size: 1.3rem;
        width: 73%;
        padding: 5px;
        margin-block: 20px;
    }

    .login-section1 p{
        font-size: 1.2rem;
    }

    .login-section2{
        width: 90%;
        padding: 0px;
    }

     /* Login style */
    
}