
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --primary-accent-color: #075674;
    --primary-accentbg-color: #94e1ff;
    --secondary-accent-color: #fec800;
    --primary-background-color: #f6f6f2;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-background-color);
}

@import url("./styles/navbarStyle.css");
@import url("./styles/footerStyle.css");
@import url("./styles/loginSignupStyle.css");
@import url("./styles/libraryCardStyle.css");
@import url('./styles/Catalogue.css');
@import url('./styles/Services.css');
@import url('./styles/roomsStyle.css');
@import url("./styles/ProfileStyle.css");
@import url('./styles/admin.css');
@import url('./styles/EditBookPage.css');


@import url('./styles/homeStyle.css');
@import url('./styles/AboutUsStyle.css');
@import url('./styles/Catalogue.css');
@import url('./styles/CatalogueItem.css');
@import url('./styles/BookDetail.css');
@import url('./styles/Cart.css');
@import url('./styles/CheckOut.css');